.app {
  box-sizing: border-box;
  min-height: calc(100vh - 30px);
  margin: 15px;
  padding: 15px;
  background-color: #eee;
  border: 5px solid #ddd;
  border-radius: 10px;
}

.title {
 color: red;
}

.main {
  margin: 20px;
}